useDynLib(LSKAT, .registration = TRUE)

import(SKAT)
import(snpStats)
import(mvtnorm)
import(snowfall)

# functions
export(longskat_gene_simulate)
export(longskat_gene_plink)
export(longskat_gene_test)
export(longskat_est_model)
export(longskat_plink_load)
export(longskat_get_gene)

export(longskat_snp_plink)
export(longskat_snp_test)


export(print.LSKAT.null.model)
export(print.LSKAT.gen.ret)
export(print.LSKAT.gen.plink)
export(print.LSKAT.snp.ret)
export(print.LSKAT.snp.plink)

export(summary.LSKAT.gen.plink)
export(summary.LSKAT.snp.plink)

export(plot.LSKAT.gen.plink)
export(plot.LSKAT.snp.plink)

